@import "tailwindcss";


@layer utilities {
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .animate-slide-in {
    animation: slide-in 0.4s ease-out forwards;
  }
}

.border-custom {
  box-shadow: 0px 5px 14px -6px rgba(0, 0, 0, 0.2);
}

@keyframes orbit {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}

@keyframes progress {
  0% { width: 0%; }
  50% { width: 60%; }
  100% { width: 0%; }
}

.budget-slider::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  border: 4px solid #155dfc;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.budget-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  border: 4px solid #155dfc;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: none;
}
