.Malvo-Market-Value-Social-Media-Post {
  --primary: #1e1e1c;
  --primary-light: #2e2e2e;
  --secondary: #fe5600;
  --secondary-light: #2f2f2f;
  --tertiary: #e6e7d5;
  --tertiary-light: #e3ddbd;
  --text-on-primary: #ffffff;
  --text-on-secondary: #38271b;
  --accent-on-primary: #f2f2f0;
  --shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --radius-xl: 1.5rem;

  /* New gradient variables */
  --linear-primary: linear-gradient(
    135deg,
    var(--accent-on-primary) 0%,
    var(--primary-light) 100%
  );
}
